.wrapper {
    background-color: #A3E9FF;

}

header {
    background-color:#407EDB;
    padding: 25px;
    text-align: center;
    color: whitesmoke;
}

nav {
    background-color: #A3E9FF;
    margin: 5px;
    padding-bottom: 2px;
    border-bottom: black;
}

a {
    text-decoration: none;
    font-size: 1.1rem;
}

a:link {
    color: #407EDB;
     /* unvisited link */
  }
  
  a:visited {
    color: green;
    /* visited link */
  }
  
  /* mouse over link */
  a:hover {
    color: #16E09A;
  }
  
  /* selected link */
  a:active {
    color: #45E5CF;
  }


main {
    background-color: #CEE9FF;
}

footer {
    background-color: #407EDB;
    padding: 25px;
    text-align: center;
}

table {
    border-collapse: collapse;
    padding: 10px;
    background-color: #70C7F0;
    border: 1px;
}

th {
    background-color: rgb(34, 96, 150);
    color: white;
}

h2 {
    color: #407EDB;
    font-size: 20px;
}

title {
    font-size: 40px;
    background-color:#407EDB;
    padding: 25px;
    text-align: center;
    color: whitesmoke;

}